[Desktop Entry]
Type=Service
MimeType=application/zip;application/x-7z-compressed;application/x-tar;application/x-compressed-tar;application/x-bzip2-compressed-tar;application/x-bzip-compressed-tar;application/x-xz-compressed-tar;application/x-zstd-compressed-tar;application/x-lz4-compressed-tar;application/gzip;application/x-xz;application/zstd;application/x-bzip2;application/x-bzip;application/x-lz4;application/vnd.rar;application/x-rar;application/vnd.ms-cab-compressed;application/x-cpio;application/x-archive;application/vnd.debian.binary-package;application/x-cd-image;application/x-iso9660-image;application/x-rpm;application/java-archive;
Actions=extractHere;extractToFolder;
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin

[Desktop Action extractHere]
Name=Extract Here
Icon=archive-extract
Exec=telamon-archive --extract-here -- %F

[Desktop Action extractToFolder]
Name=Extract to Folder
Icon=archive-extract
Exec=telamon-archive --extract-to-folder -- %F
